# Server Configuration
APP_PORT=3000

# PostgreSQL Database (Supabase)
# Lấy thông tin kết nối từ: Supabase Dashboard > Project Settings > Database
# Connection String mode: Session (not Transaction)
PG_HOST=aws-1-ap-southeast-1.pooler.supabase.com
PG_PORT=5432
PG_USER=postgres.bsquccixwwxlflkvijkb
PG_PASSWORD=hellopeople@gmail
PG_DATABASE=postgres
PG_POOL_MIN=0
PG_POOL_MAX=15

JWT_ACCESS_SECRET=dev_access_secret_change_me
JWT_REFRESH_SECRET=dev_refresh_secret_change_me
JWT_ACCESS_EXPIRES=10m
JWT_REFRESH_EXPIRES=7d
NODE_ENV=development
GOOGLE_CLIENT_ID=126131128335-o9pli120bc9q1j6hps3ffsg511mk9s2u.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

EMAIL_USER=philong300905@gmail.com
EMAIL_PASS=mkebsdbimxstumvt

# Tài khoản bổ sung 
EMAIL_USER_2=traolongteaplus693@gmail.com
EMAIL_PASS_2=soqzdwvpiwjyjhtn