{{#fill_section 'css'}}
<link rel="stylesheet" href="/statics/css/common/about-us.css">
{{/fill_section}}

<div class="about-page">

<div class="container py-5">
  <div class="text-center mb-5">
    <h1>Về chúng tôi</h1>
    <p class="lead">Nền tảng học trực tuyến hàng đầu Việt Nam</p>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h3>Sứ mệnh</h3>
      <p>Chúng tôi cam kết mang đến cơ hội học tập chất lượng cao cho mọi người, mọi lúc, mọi nơi.</p>
      <h3 class="mt-4">Tầm nhìn</h3>
      <p>Trở thành nền tảng giáo dục trực tuyến số 1 khu vực Đông Nam Á.</p>
    </div>
  </div>
</div>
</div>
